name: Daily vulnerability scan

on:
  workflow_dispatch:
  schedule:
  - cron: "43 14 * * *"

jobs:
  build-and-publish-result-to-ghcr:
    # Explicitly grant the `secrets.GITHUB_TOKEN` permissions.
    permissions:
      packages: read
      # Needed to upload the code scanning results to code-scanning dashboard.
      security-events: write
    name: Build container images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # tag v5.0.0
        with:
             fetch-depth: 0
      - name: Detect latest release
        id: generate-container-name
        run: |
          echo "latest_version=ghcr.io/richardoc/kube-audit-rest:$(git tag --sort=-version:refname | head -n1)" >> "$GITHUB_OUTPUT"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@1583c0f09d26c58c59d25b0eef29792b7ce99d9a # tag v3.11.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@28fdb31ff34708d19615a74d67103ddc2ea9725c # tag v3.6.0
        with:
          registry: ghcr.io
          # This is the user that triggered the Workflow. In this case, it will
          # either be the user whom created the Release or manually triggered
          # the workflow_dispatch.
          username: ${{ github.actor }}
          # `secrets.GITHUB_TOKEN` is a secret that's automatically generated by
          # GitHub Actions at the start of a workflow run to identify the job.
          # This is used to authenticate against GitHub Container Registry.
          # See https://docs.github.com/en/actions/security-guides/automatic-token-authentication#about-the-github_token-secret
          # for more detailed information.
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Trivy vulnerability scanner for distroless container
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # tag 0.33.1
        with:
          image-ref: '${{ steps.generate-container-name.outputs.latest_version }}-distroless'
          scan-ref: "daily scan - ${{ steps.generate-container-name.outputs.latest_version }}-distroless"
          format: 'sarif'
          output: 'distroless-results.sarif'
          github-pat: '${{ secrets.GITHUB_TOKEN }}'
      - name: Upload Trivy distroless scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@ce729e4d353d580e6cacd6a8cf2921b72e5e310a # tag v4.30.9
        with:
          sarif_file: 'distroless-results.sarif'
          category: 'daily-trivy-distroless-AMD64-release'
      - name: Run Trivy vulnerability scanner for alpine container
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # tag 0.33.1
        with:
          image-ref: '${{ steps.generate-container-name.outputs.latest_version }}-alpine'
          scan-ref: "daily scan - ${{ steps.generate-container-name.outputs.latest_version }}-alpine"
          format: 'sarif'
          output: 'alpine-results.sarif'
          github-pat: '${{ secrets.GITHUB_TOKEN }}'
      - name: Upload Trivy alpine scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@ce729e4d353d580e6cacd6a8cf2921b72e5e310a # tag v4.30.9
        with:
          sarif_file: 'alpine-results.sarif'
          category: 'daily-trivy-alpine-AMD64-on-latest-release'
  static-scan-with-trivy:
    # Explicitly grant the `secrets.GITHUB_TOKEN` permissions.
    permissions:
      packages: read
      # Needed to upload the code scanning results to code-scanning dashboard.
      security-events: write
      # Needed to upload dependency graph
      contents: write

    name: Run trivy on the repo
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # tag v5.0.0
        with:
             fetch-depth: 0
      - name: Run Trivy vulnerability scanner in fs mode
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # tag 0.33.1
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'sarif'
          output: 'repo-results.sarif'
          github-pat: '${{ secrets.GITHUB_TOKEN }}'
      - name: Upload Trivy repo scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@ce729e4d353d580e6cacd6a8cf2921b72e5e310a # tag v4.30.9
        with:
          sarif_file: 'repo-results.sarif'
          category: 'daily-trivy-repo'

      - name: Run Trivy in GitHub SBOM mode and submit results to Dependency Graph
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # tag 0.33.1
        with:
          scan-type: 'fs'
          format: 'github'
          output: 'dependency-results.sbom.json'
          image-ref: '.'
          github-pat: ${{ secrets.GITHUB_TOKEN }}
